extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block table 
    <div class="-outer whitebg -table">
        <div class="-inner">
            <p class="-bread">
                <a href="/">Главная</a> 
                | &nbsp;▪ <span>Каталог камня</span>
            </p>
            <h1>ИЗДЕЛИЯ В НАЛИЧИИ</h1>
            <div class="-rock-n-roll §2" style="--bg-1:url(/images/icon/darr.svg);">
                <div class="one">
                    <form class="-rock-filter" action="" method="POST">
                        <div class="mobi is-hiding">
                            <button type="button" onclick="this.parentNode.classList.toggle (&quot;is-hiding&quot;)">РАЗВЕРНУТЬ ФИЛЬТР</button>
                        </div>
                        <div class="head">
                            <button type="button" onclick="this.classList.toggle (&quot;is-hiding&quot;)" class="is-hiding">МАТЕРИАЛ</button>
                                <ul class="place">
                                    <li><label><input type="checkbox" name="stone[]" value="Мрамор"><div>Мрамор (27)<span></span></div></label></li>
                                    <li><label><input type="checkbox" name="stone[]" value="Гранит"><div>Гранит (32)<span></span></div></label></li>
                                    <li><label><input type="checkbox" name="stone[]" value="Известняк"><div>Известняк (2)<span></span></div></label></li>
                                    <li><label><input type="checkbox" name="stone[]" value="Травертин"><div>Травертин (12)<span></span></div></label></li>
                                    <li><label><input type="checkbox" name="stone[]" value="Оникс"><div>Оникс (19)<span></span></div></label></li>
                                    <li><label><input type="checkbox" name="stone[]" value="Кварцит"><div>Кварцит (13)<span></span></div></label></li>
                                </ul>
                        </div>
                        <div class="head">
                            <button type="button" onclick="this.classList.toggle (&quot;is-hiding&quot;)" class="is-hiding">ЦВЕТ</button>
                                <ul class="color">
                                    <li title="Белый (11)"><label><input type="checkbox" name="color[]" value="Белый" title="Белый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #ffffff">11</div></label></li>
                                    <li title="Розовый (5)"><label><input type="checkbox" name="color[]" value="Розовый" title="Розовый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #f78ca9">5</div></label></li>
                                    <li title="Коричневый (17)"><label><input type="checkbox" name="color[]" value="Коричневый" title="Коричневый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #442d25">17</div></label></li>
                                    <li title="Бежевый (16)"><label><input type="checkbox" name="color[]" value="Бежевый" title="Бежевый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #f2e3cb">16</div></label></li>
                                    <li title="Серый (13)"><label><input type="checkbox" name="color[]" value="Серый" title="Серый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #7c7c7c">13</div></label></li>
                                    <li title="Зеленый (9)"><label><input type="checkbox" name="color[]" value="Зеленый" title="Зеленый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #81b071">9</div></label></li>
                                    <li title="Черный (5)"><label><input type="checkbox" name="color[]" value="Черный" title="Черный"><div style="--texture: url(/images/icon/bg-texture.png); --color: #000000">5</div></label></li>
                                    <li title="Оранжевый (3)"><label><input type="checkbox" name="color[]" value="Оранжевый" title="Оранжевый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #f78600">3</div></label></li>
                                    <li title="Фиолетовый (1)"><label><input type="checkbox" name="color[]" value="Фиолетовый" title="Фиолетовый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #9887ed">1</div></label></li>
                                    <li title="Красный (8)"><label><input type="checkbox" name="color[]" value="Красный" title="Красный"><div style="--texture: url(/images/icon/bg-texture.png); --color: #d60000">8</div></label></li>
                                    <li title="Синий (3)"><label><input type="checkbox" name="color[]" value="Синий" title="Синий"><div style="--texture: url(/images/icon/bg-texture.png); --color: #004b81">3</div></label></li>
                                    <li title="Желтый (12)"><label><input type="checkbox" name="color[]" value="Желтый" title="Желтый"><div style="--texture: url(/images/icon/bg-texture.png); --color: #ffde00">12</div></label></li>
                                    <li title="Голубой (1)"><label><input type="checkbox" name="color[]" value="Голубой" title="Голубой"><div style="--texture: url(/images/icon/bg-texture.png); --color: #8ed3f2">1</div></label></li>
                                    <li title="Мультиколор (1)"><label><input type="checkbox" name="color[]" value="Мультиколор" title="Мультиколор"><div style="--texture: url(/images/icon/bg-multi.png);">1</div></label></li>
                                </ul>
                        </div>
                        <div class="head">
                            <button type="button" onclick="this.classList.toggle('is-hiding')" class="is-hiding">СТАТУС ТОВАРА</button>
                            <ul class="place">
                                <li><label><input type="checkbox" name="stone[]" value="В пути"><div>В пути<span></span></div></label></li>
                                <li><label><input type="checkbox" name="stone[]" value="В наличии"><div>В наличии<span></span></div></label></li>
                                <li><label><input type="checkbox" name="stone[]" value="Распродажа"><div>Распродажа<span></span></div></label></li>
                                <li><label><input type="checkbox" name="stone[]" value="Новинка"><div>Новинка<span></span></div></label></li>
                                <li><label><input type="checkbox" name="stone[]" value="Акция"><div>Акция<span></span></div></label></li>
                                <li><label><input type="checkbox" name="stone[]" value="Под заказ"><div>Под заказ<span></span></div></label></li>
                            </ul>
                        </div>
                        <div class="head">
                            <button type="button" onclick="this.classList.toggle('is-hiding')" class="is-hiding">СТОИМОСТЬ</button>
                            <ul class="cost">
                                <li>
                                    <label>
                                        <input type="radio" name="cost" value="Рубли" checked>
                                        <div>
                                            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_103_530)">
                                                <path d="M2.1 18V15H0V12.8H2.1V10.6H0V8.4H2.1V0H8.6C10.1 0 11.3 0.5 12.4 1.6C13.4 2.6 13.9 3.9 13.9 5.4C13.9 6.9 13.4 8.1 12.4 9.2C11.4 10.2 10.1 10.7 8.6 10.7H4.3V12.9H8.3V15H4.3V18H2.1ZM4.3 8.4H8.6C9.5 8.4 10.2 8.1 10.8 7.5C11.4 6.9 11.7 6.2 11.7 5.3C11.7 4.4 11.4 3.7 10.8 3.1C10.2 2.5 9.5 2.2 8.6 2.2H4.3V8.4Z"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_103_530">
                                                <rect width="13.9" height="18"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            <span></span>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="cost" value="Доллары">
                                        <div>
                                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_103_532)">
                                                <path d="M3.8 18V15.9C2.8 15.7 2 15.3 1.3 14.7C0.7 14.1 0.2 13.3 0 12.4L1.9 11.7C2.1 12.5 2.5 13.1 3 13.5C3.5 13.8 4.1 14 4.8 14C5.5 14 6.1 13.8 6.5 13.5C6.9 13.2 7.1 12.7 7.1 12.2C7.1 11.6 6.9 11.1 6.4 10.7C6 10.3 5.2 9.9 4 9.5C2.8 9.2 2 8.7 1.4 8C0.8 7.3 0.5 6.5 0.5 5.5C0.5 4.7 0.8 3.9 1.3 3.3C1.8 2.6 2.7 2.2 3.8 2.1V0H5.5V2.1C6.3 2.2 6.9 2.5 7.5 3C8.1 3.4 8.5 4 8.8 4.7L6.9 5.4C6.7 4.9 6.4 4.6 6 4.3C5.6 4.1 5.2 3.9 4.6 3.9C3.9 3.9 3.4 4 3.1 4.3C2.7 4.6 2.5 5 2.5 5.5C2.5 6 2.7 6.5 3.1 6.8C3.5 7.1 4.4 7.5 5.7 8C6.8 8.4 7.7 8.9 8.3 9.6C8.9 10.3 9.2 11.1 9.2 12.2C9.2 13.3 8.9 14.1 8.3 14.8C7.7 15.5 6.8 15.9 5.5 16.1V18H3.8Z"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_103_532">
                                                <rect width="9.2" height="18"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            <span></span>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="cost" value="Евро">
                                        <div>
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_103_534)">
                                                <path d="M11.5 18C9.7 18 8 17.5 6.4 16.5C4.8 15.5 3.8 14.1 3.2 12.2H0V10H2.8C2.8 9.7 2.7 9.4 2.7 9.1C2.7 8.8 2.7 8.5 2.8 8.1H0V5.8H3.2C3.8 4 4.9 2.6 6.4 1.6C7.9 0.6 9.6 0 11.5 0C12.7 0 13.9 0.2 14.9 0.7C15.9 1.2 16.9 1.8 17.8 2.6L16.2 4.2C15.5 3.5 14.8 3 14 2.7C13.2 2.4 12.4 2.2 11.5 2.2C10.3 2.2 9.1 2.5 8 3.2C6.9 3.9 6.1 4.8 5.7 5.8H12V8H5C5 8.4 5 8.6 5 8.9C5 9.2 5 9.5 5 10H12V12.2H5.6C6.1 13.4 6.9 14.2 8 14.9C9.1 15.5 10.3 15.9 11.5 15.9C12.3 15.9 13.2 15.7 14 15.4C14.8 15.1 15.6 14.6 16.3 14L17.9 15.5C17 16.2 16 16.9 15 17.3C13.9 17.8 12.7 18 11.5 18Z"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_103_534">
                                                <rect width="17.8" height="18"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            <span></span>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                            input(type="text" class="js-range-slider" name="my_range" value=""
								data-type="double"
								data-min="4000"
								data-max="8500"
								data-from="4000"
								data-to="8500")
                        </div>
                        <div class="head">
                            <button type="button" onclick="this.classList.toggle (&quot;is-hiding&quot;)" class="is-hiding">СТРАНА</button>
                            <ul class="place">
                                <li><label><input type="checkbox" name="place[]" value="Россия"><div>Россия (9)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Турция"><div>Турция (8)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Испания"><div>Испания (8)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Греция"><div>Греция (3)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Италия"><div>Италия (39)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Египет"><div>Египет (1)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Индия"><div>Индия (4)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Португалия"><div>Португалия (1)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Франция"><div>Франция (1)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Финляндия"><div>Финляндия (2)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Бразилия"><div>Бразилия (11)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Норвегия"><div>Норвегия (1)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Украина"><div>Украина (2)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Казахстан"><div>Казахстан (5)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Карелия"><div>Карелия (4)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Башкортостан"><div>Башкортостан (1)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Африка"><div>Африка (2)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Болгария"><div>Болгария (1)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Германия"><div>Германия (1)<span></span></div></label></li>
                                <li><label><input type="checkbox" name="place[]" value="Азия"><div>Азия (1)<span></span></div></label></li>
                            </ul>
                        </div>
                        <div class="head">
                            <button type="button" onclick="this.classList.toggle('is-hiding')" class="is-hiding">НАЗВАНИЮ</button>
                            <ul class="cost lang">
                                <li>
                                    <label>
                                        <input type="radio" name="name" value="Рус" checked>
                                        <div>РУС<span></span></div>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="name" value="Англ">
                                        <div>Англ<span></span></div>
                                    </label>
                                </li>
                            </ul>
                            ul.keyboard
                                li
                                    <label><input type="radio" name="keyboard" value="A"><div>A</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="B"><div>B</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="C"><div>C</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="D"><div>D</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="E"><div>E</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="F"><div>F</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="G"><div>G</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="H"><div>H</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="I"><div>I</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="J"><div>J</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="K"><div>K</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="L"><div>L</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="M"><div>M</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="N"><div>N</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="O"><div>O</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="P"><div>P</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="Q"><div>Q</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="R"><div>R</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="S"><div>S</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="T"><div>T</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="U"><div>U</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="V"><div>V</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="W"><div>W</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="X"><div>X</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="Y"><div>Y</div></label>
                                li
                                    <label><input type="radio" name="keyboard" value="Z"><div>Z</div></label>
                        </div>
                        <div class="clear">
                            <button type="button">Сбросить фильтры</button>
                        </div>
                    </form>
                </div>
                <div class="two">
                    <div class="-two § count-prev-next">
                        <p>ДОСТУПНО: 100</p>
                        <p>
                            select.select
                                option Сначала в наличии
                                option Сначала дороже
                                option Сначала дешевле
                                option Сначала начало
                                option Сначала конец
                        </p>
                    </div>
                    .filter__list
                        .filter__item 
                            | Гранит
                            .filter__close-btn
                        .filter__item 
                            | Россия
                            .filter__close-btn
                        .filter__item 
                            | В пути
                            .filter__close-btn
                        .filter__item 
                            | Новинка
                            .filter__close-btn
                    <ul class="-rock-list">
                        <li>
                            <a href="/catalog/mramor/koelga/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/1.png);">
                                    <img src="/images/rock/1.png" alt="КОЕЛГА | KOELGA" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                        p.action Акция
                                </div>
                                <div class="name"><span>КОЕЛГА | KOELGA</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/sayanskij/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/2.png);">
                                    <img src="/images/rock/2.png" alt="САЯНСКИЙ | SAYANSKIJ" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                </div>
                                <div class="name"><span>САЯНСКИЙ | SAYANSKIJ</span></div>
                                <div class="info">
                                    <span>цена по запросу</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/rosa-tea/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/3.png);">
                                    <img src="/images/rock/3.png" alt="РОЗА ТИ | ROSA TIA" loading="lazy">
                                    .dop 
                                        p.nalichie В наличии
                                </div>
                                <div class="name"><span>РОЗА ТИ | ROSA TIA</span></div>
                                <div class="info">
                                    <span>от 6 520 руб./м2</span>
                                    .info__buttons
                                        button._active
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button._active
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/emperador-dark/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/4.png);">
                                    <img src="/images/rock/4.png" alt="ИМПЕРАТОР ДАРК | EMPERADOR DARK" loading="lazy">
                                    .dop 
                                        p.nalichie В наличии
                                        p.action Акция
                                </div>
                                <div class="name"><span>ИМПЕРАТОР ДАРК | EMPERADOR DARK</span></div>
                                <div class="info">
                                    <span>от 52 520 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/tassos/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/5.png);">
                                    <img src="/images/rock/5.png" alt="ТАССОС | THASSOS" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                        p.novinka Новинка
                                </div>
                                <div class="name"><span>ТАССОС | THASSOS</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/crema-marfil/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/6.png);">
                                    <img src="/images/rock/6.png" alt="КРЕМА МАРФИЛ | CREMA MARFIL" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                        p.vputi В пути
                                </div>
                                <div class="name"><span>КРЕМА МАРФИЛ | CREMA MARFIL</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/arabeskato/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/7.png);">
                                    <img src="/images/rock/7.png" alt="АРАБЕСКАТО | ARABESCATO" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                        p.rasprodaga Распродажа
                                </div>
                                <div class="name"><span>АРАБЕСКАТО | ARABESCATO</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/bordzhilio/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/8.png);">
                                    <img src="/images/rock/8.png" alt="БАРДЖИЛИО | BARDIGLIO" loading="lazy">
                                    .dop 
                                        p.zakaz Под заказ
                                </div>
                                <div class="name"><span>БАРДЖИЛИО | BARDIGLIO</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/botochino/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/9.png);"><img src="/images/rock/9.png" alt="БОТТИЧИНО | BOTTICHINO" loading="lazy"></div>
                                <div class="name"><span>БОТТИЧИНО | BOTTICHINO</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/byanka-lasa-vena-oro/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/10.png);"><img src="/images/rock/10.png" alt="БЬЯНКО ЛАЗА ВЕНА ОРО | BIANCO LASA VENA ORO" loading="lazy"></div>
                                <div class="name"><span>БЬЯНКО ЛАЗА ВЕНА ОРО | BIANCO LASA VENA ORO</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/galala/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/11.png);"><img src="/images/rock/11.png" alt="ГАЛАЛА | GALALA" loading="lazy"></div>
                                <div class="name"><span>ГАЛАЛА | GALALA</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/catalog/mramor/verde-guatemala/" class="-rock-element">
                                <div class="pict" style="--bg-1:url(/images/stone/12.png);"><img src="/images/rock/12.png" alt="ВЕРДЕ ГВАТЕМАЛА | VERDE GUATEMALA" loading="lazy"></div>
                                <div class="name"><span>ВЕРДЕ ГВАТЕМАЛА | VERDE GUATEMALA</span></div>
                                <div class="info">
                                    <span>от 3 500 руб./м2</span>
                                    .info__buttons
                                        button
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.5 17L8.31 15.8444C3.89 11.7556 1 9.08889 1 5.8C1 3.13333 3.04 1 5.675 1C7.12 1 8.565 1.71111 9.5 2.86667C10.435 1.71111 11.88 1 13.325 1C15.96 1 18 3.13333 18 5.8C18 9.08889 15.11 11.7556 10.69 15.8444L9.5 17Z" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        button
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.07153 8V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M5.35718 1V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M9.64282 4V14" stroke-width="2" stroke-linecap="round"/>
                                                <path d="M13.9285 12V14" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                    button.more Загрузить еще
                    .text 
                        p Отделка натуральным камнем фасадов домов и элементов интерьеров приобретает все большую популярность. Выдающиеся эксплуатационные свойства природного камня в сочетании с уникальной красотой и богатой палитрой оттенков делают его непревзойденным строительным материалом, позволяющим создавать настоящие шедевры дизайнерского искусства.
                        h2 Природный отделочный камень из разных регионов
                        p Мы предлагаем каталог поставок натурального камня из самых разных регионов мира. Здесь вы найдете широкий выбор гранита, мрамора, травертина, оникса, известняка как с отечественных месторождений (Мансуровский, Саянский, Балтийский, Елизовский, Южно-Султаевский), так и из стран Европы — Италии, Греции, Испании, а также Азии и Африки. Все представленные виды доступны для приобретения и сопутствующей обработки по желанию заказчика.
                        p В современном строительстве натуральный камень широко используют для облицовки фасадов, дверных и оконных проемов, полов и лестниц. Для этих целей лучше всего подходят менее дорогие виды камня, такие как травертин, известняк или туф. Гранит и мрамор чаще используют для внутренних интерьеров, отделки каминов, столешниц, подоконников, ванных комнат и кухонь. Изумительно красивый полудрагоценный оникс с его полупрозрачной структурой и неповторимым рисунком сам по себе станет украшением любого помещения от каминного холла до роскошной гостиной.
                        p Определяющими факторами для природного камня являются его физические, механические и химические свойства - плотность, водопоглощение, морозостойкость, прочность, твердость, кислостойкость и др.
                        p Часть свойств характеризуют только пильный камень: звукопоглощение и звукоизоляция, теплопроводность, влажность. 
                        p Одним из важных свойств облицовочного камня, при изготовлении полов и лестниц, является истираемость. Немаловажным свойством является сопротивление ударным воздействиям с определением минимальной высоты груза, при котором на образце появятся трещины или образец разрушится.
                        p Кислотность камня - способность противостоять воздействию окружающей среды. Требования к кислотности предъявляют только к карбонатным горным породам.
                        p Для оценки пригодности облицовочного камня для изготовления из него изделий проводят минералого-петрографическое исследование.
                        h2 Цветовая палитра
                        p Декоративные свойства горных пород характеризуют цветом, структурой и текстурой-рисунком.
                        p При выборе камня, важно учитывать, что в природном камне рисунок и цвет поверхности в готовом изделии может быть неравномерным, так как различные материалы (из чего состоит камень) в горной породе чаще всего распределены в его объеме неравномерно и от этого рисунок может быть различным. Это особенно часто проявляется в крупнозернистых гранитах красных и серых цветов, меньше в габбро и диоритах с мелкозернистой структурой.
                        p Цвет, оттенки и естественный рисунок поверхности материала детали меняется не только в пределах горной породы и месторождения, но иногда и в пределах одного и того же блока, слэба и детали. Прежде чем выбрать камень по декоративности (цвету), архитектору или дизайнеру интерьера необходим изучить все возможные сочетания оттенков камня и быть готовым к этому.
                        p Цветовая палитра во многом обусловлена особенностями месторождений, на которых добывается камень. В частности, гранит с Елизовского месторождения в Ленинградской области имеет характерный красновато-коричневый оттенок, а Южно-Султаевский гранит с Урала отличается благородной розово-бежевой окраской. 
                        p ранит вида Arctic Cream, добываемый в Италии, обладает уникальным сливочно-белым фоном с темными и светло-серыми прожилками. Он прекрасно подходит для столешниц, подоконников, кухонных поверхностей. Особенно великолепно он смотрится на больших пространствах, позволяющих показать всю природную красоту этого камня. 
                        p Цветовая палитра разных видов мрамора еще более разнообразна. Здесь можно найти белый, серый, желтый, розовый, черный, зеленый, голубой оттенки с разноцветными прожилками и рисунками породы. Не случайно отделка помещения мрамором всегда создает впечатление великолепия и утонченной роскоши.
                        h2 Особенности поставки природного камня
                        p Натуральный камень, представленный в каталоге, можно приобрести в виде полуфабрикатов — блоков или слэбов (большие ровные плиты с оригинальным рисунком).
                        p Фактура лицевой поверхности изделий в зависимости от способов обработки может быть полированная – с зеркальным блеском, гладкая матовая (лощённая) – с полным выявлением рисунка камня, шлифованная – равномерно шероховатая со следами обработки, получаемая только при шлифовании, и с высотой неровностей рельефа до 0,5 мм, пиленая – неравномерно шероховатая, с высотой неровностей рельефа до 2 мм, обработанная ультразвуком – с выявленным цветом и рисунком камня, термообработанная – шероховатая со следами шелушения, точечная (бучардированная) – равномерно шероховатая с высотой неровностей рельефа до 5 мм, «скала» - околотая с высотой неровностей рельефа от 50 до 200 мм без следов инструментов.
                        p Слэбы из мрамора как наиболее эффектного декоративного материала в большинстве случаев используются для: облицовки ванных комнат и саун, декора колонн, отделки лестниц в домах, оформления лифтов. 
                        p Гранитные слэбы обладают большой прочностью, устойчивы к перепадам температур и ударам, в то же время по своим внешним качествам они уступают мрамору или ониксу. Поэтому обычно их применяют для облицовки фасадов зданий, отделки стен и лестниц.
                        h2 Готовые изделия из мрамора и гранита
                        p Кроме каменных блоков и плит, возможно приобретение готовых изделий из гранита и мрамора по индивидуальным заказам с проектированием и изготовлением. Мы предлагаем облицовочные плиты, столешницы, камины, лестницы и другие элементы для внешней и внутренней отделки зданий. Приобретение готовых изделий позволит значительно ускорить строительство и декоративное оформление зданий.
                        p В каталоге вы найдёте большой выбор гранита и мрамора самых разных оттенков.
                </div>
            </div>
        </div>
    </div>

